extends layout.pug
include includes/form-inputs.pug



block content
    include includes/errors.pug
    

    form(method= "post" action="/create").form-group
        input(type="hidden" name="_csrf" value=csrfToken)

        +input("firstName", "First Name:", "text")
        +input("lastName", "Last Name:", "text")
        +input("email", "Email:", "email")
        +input("password", "Password:", "password")
        +input("confirmedPassword", "Confirmed Password:", "password")

        input(type="submit", value="Create User").btn.btn-primary.mt-2
